<h2>ALUMNOS IEVN 1002</h2>
<hr>
<div class="row">
    <div class="col">
        <!-- <app-alumnos [alumnosUtl]="alumnosUtl"></app-alumnos> -->
        <app-alumnos></app-alumnos>
    </div>
    <div class="col">
        <!-- <app-agregar [alumnosUtl]="alumnosUtl" [regAlumno]="regAlumno"></app-agregar>></app-agregar> -->
        <!-- <app-agregar (onNuevoAlumno)="agregarNuevoAlumno($event)" [regAlumno]="regAlumno"> </app-agregar> -->
        <app-agregar [regAlumno]="regAlumno"> </app-agregar>
    </div>
</div>